* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.navbar img {
    height: 100%;
    margin-left: 5vh;
}

.infos {
    display: flex;
    align-items: center;
}

.navbar_ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 5vh;
}

nav ul li {
    font-size: 40px;
}

/* test */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}
.go-scroll {
    height: 4rem;
    width: 2rem;
    border-radius: 2rem;
    border: solid 2px #110f0e;
    position: relative;
    margin-bottom: 100px;
}

.go-scroll span {
    content: "";
    height: 1rem;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: #110f0e;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    animation: scroll-anim 2.5s infinite;
    transition: 0.4s;
}