* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Colors
    #1A374D
    #406882
    #6998AB
    #ADCBD7
    #743ad5
    #743ad5
            */
@font-face {
    font-family: "LeagueSpartan";
    src: url(font/LeagueSpartan-Bold.otf);
}

body {
    font-family: 'LeagueSpartan';
    background-color: #406882;

    .navbar {
        display: flex;
        justify-content: space-between;
        height: 100px;
        background-color: #6998AB;


        .logo {

            display: flex;
            align-items: center;

            img {
                height: 100%;
                margin-left: 5vh;
            }

            h1 {
                margin-left: 5vh;
                font-size: 35px;
                color: #1A374D;

                @media screen and (max-width: 500px) {
                    margin-left: 1vh;
                    font-size: 30px;
                }
            }
               
        }
    
        .infos {
            display: flex;
            align-items: center;
        }
        
        .navbar_ul {
            list-style: none;
            display: flex;
            gap: 40px;
            margin-right: 5vh;

            @media screen and (max-width: 900px) {
                
                list-style: none;
                display: flex;
                gap: 0px;
                margin-right: 1vh;
            }
            li {

                a {
                    padding: 0.5em;
                    font-size: 20px;
                    color: #1A374D;
                    text-decoration: none;
                    transition: transform 0.5s;

                    &:hover {
                        border-bottom: 2px solid #743ad5;
                    }
                }
            }
        }
    }

    /* ********************* NAME **************** */
    .name-title {
        margin-bottom: 25px;
        justify-content: center;
        align-items: center;
        gap: 15px;
    
        .first-title {
            text-align: center;
            font-size: 75px;
        }
    
        .second-title {
            text-align: center;
            font-size: 55px;
        }
    
        .gradient {
            background: -webkit-linear-gradient( #d53a9d, #743ad5 );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    /* *************** SEPARATOR **************** */
    .separator {
        /* Content is centered horizontally */
        align-items: center;
        display: flex;
    
        /* Used to set the position of text */
        position: relative;
    
        margin-top: 40px;
        margin-bottom: 40px;

        opacity: 0.75;

        &__content {
            /* We won't see the separator line */
            background: #6998AB;
            border-radius: 20px;
        
            /* Displayed at the center of separator */
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        
            /* Spacing */
            padding: 0 0.25rem;
        
            /* Demo */
            width: 60%;
        
            text-align: center;
            color: #6998AB;
        }
        
        &__separator {
            border-bottom: 1px solid #6998AB;
            height: 1px;
            width: 100%;
        }
    }

    /* ********** QUI JE SUIS *********** */
    .presentation {
        text-align: center;
        color: #ADCBD7;
        margin-top: 0.5em;
        margin-top: 0.5em;
    }
    .qui-je-suis {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        main {
            width: 80%;
            text-align: center;
            p {
                font-size: 1.2em;
                line-height: 1.75em;
                border-top: 4px solid;
                border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
                border-image-slice: 1;
                border-width: 4px;
                margin: 0;
                padding: 40px;
                counter-increment: section;
                position: relative;
                color: #ADCBD7;
                
                //numbers/circles
                &:before {
                  content: counter(section);
                  position: absolute;
                  border-radius: 50%;
                  padding: 10px;
                  height: 1.25em;
                  width: 1.25em;
                  background-color: black;
                  text-align: center;
                  line-height: 1.25em;
                  color: #ADCBD7;
                  font-size: 1em;
                }
              }
              //odd number borders
              p:nth-child(odd) {
                border-right: 4px solid;
                padding-left: 0;
                
                &:before {
                  left: 100%; 
                  margin-left: -20px;
                }
              }
              //even number borders
              p:nth-child(even) {
                border-left: 4px solid;
                padding-right: 0;
                
                &:before {
                  right: 100%; 
                  margin-right: -20px;
                }
              }
              //handle first and last
              p:first-child {
                border-top: 0;
                border-top-right-radius:0;
                border-top-left-radius:0;
              }
              p:last-child {
                border-bottom-right-radius:0;
                border-bottom-left-radius:0;
              }
        }
        
    }
    
    
    /* ************* SKILLS ***************** */
    .my_skills {

        /* Div Style */
        height: 600px;
        border-radius: 15px;
        margin-inline: 1.5em;
        background-color: #1A374D;
        box-shadow: 0px 0px 10px white;

        .all_hard_skills {
    
            display: flex;
            flex-direction: column;
            gap: 35px;
            margin-inline: 20px;
        
            h4 {
                font-size: 24px;
                text-align: center;
                color: #ADCBD7;
                margin-top: 0.5em;
    
            }
            .skill {
        
                display: flex;
                flex-direction: row;
                gap: 40px;
                margin-inline: 0.5em;
            
                .progress-bar {
                    /* Colors */
                    background-color: #d1d5db;
                
                    /* Rounded border */
                    border-radius: 9999px;
                    padding: 0.25rem;
                
                    /*Width*/
                    width: 80%;
                
                    &_progress {
                        /* Center the content */
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        margin-top: 0.5px;
                    
                        /* Colors */
                        background: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
                        color: #ADCBD7;
                    
                        /* Rounded border */
                        border-radius: 9999px;
                    }
                }
            
                .progress-bar-skill {
            
                    p {
                        font-size: 24px;
                        color: #ADCBD7;
                        margin-left: 5em;

                        @media screen and (max-width: 500px) {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }

        .all_soft_skills {

            display: flex;
            gap: 10%;
            margin-inline: 5em;
            margin-top: 2em;
            justify-content: space-around;

            .round-soft-skills {
                display: flex;
                align-items: center;
                justify-content: center;
            
                .round-skill {
                    width: 160px;
                    height: 160px;
                    position: relative;
                
                    .outer {
                        height: 160px;
                        width: 160px;
                        border-radius: 50%;
                        box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                                    -6px -6px 10px -1px rgba(255,255,255,0.7);
                        padding: 20px;
                    }
                
                    .inner {
                        height: 120px;
                        width: 120px;
                        border-radius: 50%;
                        box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                                    inset -4px -4px 6px -1px rgba(255,255,255,0.7),;
                        
                        display: flex;
                        align-items: center;
                        justify-content: center;
                
                        #number {
                            font-weight: 600px;
                            color: #ADCBD7;
                        }
                    }
                }
            
                svg {
                    position: absolute;
                    left: 202;
            
                    circle {
                        fill: none;
                        stroke: url(#GradientColor);
                        stroke-width: 20px;
                        stroke-dasharray: 472;
                        stroke-dashoffset: 100;
            
                        animation: anim 2s linear forwards;
                    }
                }
            
            }
        }
    }

    /* ************* GALLERY **************** */
    .project {
        text-align: center;
        color: #ADCBD7;
        margin-top: 0.5em;
        font-size: 24px;
    }
    .grid-gallery {
        padding-top: 30px;
        display: grid; /* crée le layout en 2D */
        gap: 60px;
        grid-template-columns: 1fr 1fr 1fr; /* 4 colonne de 1 fraction de notre ecran */

        @media screen and (max-width: 500px) {
            padding-top: 30px;
            display: grid;
            gap: 35px;
            grid-template-columns: 1fr 1fr;
        }
    
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: transform 0.5s;
    
            &:hover {
                transform: scale(1.2);
            }
    
            img {
                width: 95%;
                border-radius: 16px;
            }
        }
    
        @media screen and (max-width: 500px) {
            padding-inline: 5vh;
        }
    
    }
    
    .contact {
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: 500px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .contactTitle {
            font-size: 34px;
            text-align: center;
            color: #ADCBD7;
        }
    
        .contactContent {
            margin: 0 10%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            p {
                color: #ADCBD7;
                text-align: center;
            }
    
            a {
                button {
                    background: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
                    width: 100px;
                    height: 40px;
                    margin-top: 1em;
                    border: none;
                }
            }
        }
    }
} /* body end */

/* ------------------------------------- */
:root {
    --radial-progress-bar-size: 8rem;
    --radial-progress-bar-border-width: 0.75rem;
}
/* ------------------------------------- */



